<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Головна сторінка</title>
</head>
<body>

    <div class="container">
        <h1>Мої нотатки</h1>

        <div class="note">
            <h2>Нотатка 1</h2>
            <p>Це тестова нотатка 1.</p>
        </div>

        <div class="note">
            <h2>Нотатка 2</h2>
            <p>Це тестова нотатка 2.</p>
        </div>

    </div>

</body>
</html>
